<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="printer" class="com.maksymnesterov.spring.Printer">

        <constructor-arg index="0">
            <list>
                <value>A</value>
                <value>B</value>
                <value>A</value>
                <value>C</value>
            </list>
        </constructor-arg>
        <constructor-arg index="1" value="189"/>
        <constructor-arg index="2" value="Vasya"/>
    </bean>

    <bean id="app" class="com.maksymnesterov.spring.Application">
        <property name="printer" ref="printer"/>
    </bean>
</beans>